<h1>Informacion:</h1>
<body>
    <div class="info-wrapper">
  <img src="../../../assets/imagenes/Mi-foto.jpg" alt="Mi Foto">

  <ul>
    <li><strong>Nombre:</strong> Ivan Matias</li>
    <li><strong>Apellido:</strong> Cantero</li>
    <li><strong>Edad:</strong> 25 años</li>
    <li><strong>Materia:</strong> Laboratorio IV</li>
    <li><strong>Curso:</strong> A341</li>
  </ul>
</div>
  <hr>

  <h2>Información del Juego:</h2>
  <div id="info-juego">
  </div>
  <div style="height: 1500px">
    No disponible.
  </div>

</body>
