<div class="container mt-4 text-center text-white">
    <h2>Ahorcado</h2>
    <div class="card p-4 card-transparente">
        <div class="text-end">
            <a routerLink="/home" class="btn btn-danger">
                Salir
            </a>
        </div>

        <div class="text-center">
            <img [src]="imagenSrc" alt="Ahorcado" class="img-fluid mb-3" style="max-height: 250px;" />

            <div class="palabra mb-3">
                <span *ngFor="let letra of palabraSecreta.split('')" class="mx-1 fs-3 border-bottom text-white">
                    {{ mostrarLetra(letra) }}
                </span>
            </div>

            <div class="letras mb-3">

                <div class="letras">
                    <button *ngFor="let letra of abecedario"
                        [disabled]="letrasSeleccionadas.includes(letra) || intentosRestantes === 0 || mensaje"
                        (click)="seleccionarLetra(letra)" class="btn btn-success m-1"
                        style="width: 45px; height: 45px;">
                        {{ letra }}
                    </button>
                </div>

                <!-- botones de letras aquí -->
            </div>

            <div class="mensaje fs-4 fw-bold text-white">{{ mensaje }}</div>
            <div *ngIf="score > 0" class="fs-5 text-primary">
                Puntaje: {{ score }}
            </div>

            <button class="btn btn-primary mt-3" (click)="iniciarJuego()">
                Reiniciar
            </button>
        </div>
    </div>
</div>
