
<div *ngIf="conectado; else noConectado" class="text-center my-5">
  <h1 class="fw-bold">¡Bienvenido, {{ nombreUsuario }}!</h1>
  <p class="lead text-white">Disfrutá de los juegos 🎮</p>
</div>

<ng-template #noConectado>
  <div class="text-center my-5">
    <h1 class="text-white">Bienvenido, conectate</h1>
    <p class="lead text-white">Disfuta de los juegos mientras.</p>
  </div>
</ng-template>

<hr>

<div class="container py-4">
  <div class="mb-3 w-50">
    <div class="position-relative">
      <input
        type="text"
        class="form-control pe-5"
        placeholder="Buscar juego..."
        [(ngModel)]="filtro"
      />
      <button
        *ngIf="filtro"
        type="button"
        class="btn btn-sm btn-link position-absolute top-50 end-0 translate-middle-y me-2 text-danger"
        (click)="filtro = ''"
        aria-label="Borrar"
      >
        &times;
      </button>
    </div>
  </div>




<div class="col-12">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <div 
      class="col" 
      *ngFor="let juego of juegos | juegoFiltro: filtro"
    >
      <div class="card h-100 cursor-pointer shadow-sm card-color" (click)="seleccionarJuego(juego)">

        <div 
          class="d-flex align-items-center justify-content-center bg-light rounded-top" 
          style="height: 240px; overflow: hidden;"
        >
          <img 
            [src]="getImagen(juego)" 
            alt="{{ juego.nombre }}"
            style="max-height: 100%; max-width: 100%; object-fit: contain;"
          />
        </div>


        <div class="card-body px-3 py-2">
          <h5 class="card-title mb-2">
            <i class="bi me-2" [ngClass]="juego.icono"></i>
            {{ juego.nombre }}
          </h5>

          <div *ngIf="juegoSeleccionado === juego" class="mt-2">
            <p class="card-text small">{{ juego.descripcion }}</p>
            <button class="btn btn-success w-100 mt-2" (click)="jugar(); $event.stopPropagation()">Jugar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<app-chat></app-chat>