.card-title{
    text-align: center;
}

.chat-window {
  z-index: 1050; // por encima de la mayoría de elementos
}

.cursor-pointer {
  cursor: pointer;
}
.card-color{
  background-color: #bec060;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.mensaje-texto {
  max-width: 70%;
  word-wrap: break-word;
}

.bg-primary {
  background-color: #0d6efd !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}