body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/imagenes/fondo.jpg");
  }

h1 {
    color: white;
  }
  
// ::ng-deep .toast-success {
//   background: linear-gradient(135deg, #7F00FF, #8E2DE2); /* Violeta metalizado */
//   color: white!important;
//   font-weight: bold;
//   border: 1px solid #cba0ff;
//   box-shadow: 0 0 12px rgba(127, 0, 255, 0.6);
// }

// ::ng-deep .toast-success .toast-message {
//   font-size: 1.1rem;
// }

// ::ng-deep .toast-success .toast-title {
//   font-size: 1.3rem;
// }

// ::ng-deep .toast-success .toast-progress {
//   background-color: white;
// }

// Aplica fondo metálico violeta y fuerza color blanco
::ng-deep .toast-success {
  background: linear-gradient(135deg, #7F00FF, #8E2DE2) !important;
  color: white !important;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 16px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

::ng-deep .toast-success .toast-message,
::ng-deep .toast-success .toast-title {
  color: white !important;
}

// Botón de cerrar
::ng-deep .toast-success .toast-close-button {
  color: white !important;
  font-size: 1.5rem;
  top: 8px;
  right: 12px;
}
