body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/imagenes/fondo.jpg");
  }

h1 {
    color: white;
  }

  h2{
    color: white;
  }

  
::ng-deep .toast-success {
  background: linear-gradient(135deg, #7F00FF, #8E2DE2) !important;
  color: white !important;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 16px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

::ng-deep .toast-success .toast-message,
::ng-deep .toast-success .toast-title {
  color: white !important;
}

// Botón de cerrar
::ng-deep .toast-success .toast-close-button {
  color: white !important;
  font-size: 1.5rem;
  top: 8px;
  right: 12px;
}

.card-transparente {
  background-color: transparent;
  border: none;
  box-shadow: none;
}