<div class="container-fluid d-flex flex-column align-items-center justify-content-start" style="min-height: 80vh;">
  <div class="w-100 text-center my-4">
    <label for="juegoSelect" class="form-label text-white fs-5">Selecciona un juego</label>
    <select
      id="juegoSelect"
      [(ngModel)]="juegoSeleccionado"
      (change)="cambiarJuego(juegoSeleccionado)"
      class="form-select bg-dark text-white w-25 mx-auto"
    >
      <option value="Global">Global</option>
      <option value="Usuario">Mis puntajes</option>
      <option *ngFor="let juego of juegos" [value]="juego">{{ juego }}</option>
    </select>
  </div>

  <div class="w-75">
    <app-tabla-ranking [datos]="puntajes" />
  </div>
</div>

<app-chat></app-chat>
